/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My CSS */

body {
  font-family: rubik, sans-serif;
  color: rgba(6, 26, 75);
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.left {
  flex: 35%;
  height: 100vh;
  background: url('wave.jpeg');
  background-size: cover;
  background-color: blue;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

.right {
  flex: 65%;
  height: 100vh;
  background-color: #f8f8f8;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.banner {
  background-color: rgba(6, 26, 75, 0.782);;
  height: 100px;
  position: relative;
  bottom: 63.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: white;
  font-weight: 900;
  font-size: 5rem;
  font-family: odinFont, sans-serif;
}

.banner > div {
  position: relative;
  top: 8px;
}

.credit {
  text-align: center;
  position: relative;
  bottom: 1vh;
  font-size: 0.75rem;
}

a:link, a:visited {
  color: inherit;
}

.blurb {
  flex: 33%;
  padding: 20vh 150px 50px 30px;
  font-size: 1.25rem;
  line-height: 1.2
}

.blurb > p:nth-child(2) {
  margin-top: 20px;
}

.details {
  flex: 33%;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgb(172, 172, 172);
  box-sizing: border-box; 
  padding: 20px 60px 20px 30px;
}

.details > h2 {
  margin-bottom: 20px;
  font-size: 1.25rem;
  font-weight: 700;
}

form {
  display:flex;
  flex-flow: row wrap;
  height: 100%;
  margin-bottom: 50px;
}

form > * {
  display: flex;
  flex-flow: column;
  width: 45%;
  margin-top: 20px;
  margin-right: 30px;
  font-size: 1.2rem;
}

label {
  font-size: 0.6rem;
  margin-bottom: 3px;
}

input {
  border: 1px solid rgb(186, 186, 186);
  border-radius: 5px;
  padding: 5px;
}

input:focus {
  box-shadow: 2px 2px 5px rgb(172, 172, 172);
  outline: 0.5px solid blue;
}
.create {
  flex: 33%;
  padding: 30px;
  margin-bottom: 30px;
}

button {
  margin-bottom: 20px;
  font-size: 1.5rem;
  padding: 20px;
  color: white;
  background-color: rgba(6, 26, 75, 0.874);
  border: none;
  border-radius: 15px;
}

button:hover {
  color:rgb(6, 25, 75);
  background-color: white;
  padding: 18px;
  border: 2px solid rgb(6, 25, 75);;
}

.emphasis {
  font-style: italic;
}

@font-face {
  font-family: odinFont;
  src: url(Norse-Bold.otf);
}

@media (max-width: 900px) {
  .right, .left {
    flex: 100%;
  }

  .left {
    height: 120px;
  }

  .banner {
    top: 0px;
  }

  .credit {
    height: 0px;
    display:none;
  }

  .right {
    justify-content: flex-start;
  }

  .blurb {
    padding: 30px;
  }

  form > * {
    width: 100%;
    margin-right: 0px;
  }

}